db/*
incremental_db/*

*.rpt
*.summary
*.smsg
*.pin
*.done
*.jdi
*.sld
*.sof
c5_pin_model_dump.txt

*.o
*.d
*.user
*x64/*
Simulator/x64/*
Simulator/Simulator/x64/*
*.vs/

.vscode/*
*/unsaved/*


*/db/
*/incremental_db/
*/simulation/
*/timing/
*/testbench/
*/*_sim/
incremental_db/
db/
_output_files/
PLLJ_PLLSPE_INFO.txt

*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.jpg
# *.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*.txt # Explicitly add any text files used
*~
*example*
*sopc_*